<div class="container ls-product-section">
  <div id="produit" class="page-header"></div>
  <div class="container ">
      <h3 class="h1-responsive font-weight-bold text-center my-4 "> NOS PRODUITS </h3>
      <div class="line"></div>
  <div id="listproduct" class="row">
    <div *ngFor="let p of produits ; let i = index ; let odd=odd" class="col-md-3 col-6 col-sm-4 pb-3" >
    <div  class="product-grid card">
      <div class="product-image">
             <img class="pic-1" [src]= "p.img" >
     </div>
     <div class="product-content">
         <h3 class="title bolded">
             <p>{{p.id}}</p>
         </h3>
         <div>
          <span class="text-danger font-weight-bold">$<span class="price">{{p.Prix}}</span></span> 
         </div>
         <a class="add-to-cart btn btn-danger text-white" (click)="achterclick($event)">Ajouter</a>
     </div>
  </div>
  </div>
  </div>
  </div>
</div>
<!--iCON DE PANIER-->
<div id="cart" class="cart" data-toggle="modal" data-target="#exampleModalLong" [attr.data-totalitems]="compteur" [ngStyle]="{display : compteur==0 ||achat.length==0?'none':'flex'}" *ngIf="compteur<=0?0:compteur">
  <i class="fa fa-shopping-cart"></i>
</div>
